@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
body {
  font-family: "Open Sans", sans-serif; }

@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1; } }
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.full-height {
  height: 100%; }

a {
  color: black; }
  a:hover, a:focus, a:active {
    color: #b70000;
    text-decoration: none; }

.red {
  color: #b70000; }

.red-bg {
  background: #b70000; }

.contact {
  padding: 0; }
  .contact > li {
    list-style: none;
    display: inline-block;
    padding: 0 3px 0 5px;
    border-left: 2px solid #b70000; }
    @media screen and (max-width: 520px) {
      .contact > li {
        padding: 0 0 0 5px;
        display: block; }
        .contact > li.first {
          border-left: 2px solid #b70000; } }
  .contact .first {
    border: 0px; }

.feature > div {
  position: relative;
  padding: 0; }
  .feature > div img {
    z-index: -1; }
  .feature > div h3 {
    position: absolute;
    bottom: 0;
    padding: 2px 0 0 25px;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }

#header {
  background: white; }
  #header > h1 {
    font-weight: 600; }

.hero {
  background: url("../img/mode-off.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: white; }
  .hero p {
    animation: flyin 2s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
    padding: 10%;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center; }

.award {
  display: table-cell;
  vertical-align: middle; }
  .award h3 {
    font-size: 16px; }
  @media screen and (max-width: 570px) {
    .award h3 {
      font-size: 12px; } }
  .award hr {
    border: 0;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #ccc, #333, #ccc); }
  .award .date {
    font-size: 2em;
    margin-top: 2px; }
  .award .winner {
    font-size: 1.5em;
    margin-bottom: 10px; }

.award-wrap {
  display: table;
  margin-bottom: 40px; }

.laurel {
  display: inline;
  max-height: 200px;
  vertical-align: top; }

blockquote {
  display: block;
  padding: 40px 20px 15px 70px;
  position: relative;
  /*Font */
  font-size: 16px;
  text-align: justify;
  /*Borders - (Optional) */
  border-right: 2px solid #b70000;
  border-left: 0; }
  blockquote::before {
    content: "“";
    font-size: 90px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 0; }

blockquote::after {
  content: ""; }

#footer {
  background: black;
  min-height: 100px;
  position: relative;
  color: white;
  font-weight: 300; }
  #footer a {
    color: white; }
    #footer a:hover, #footer a:active {
      color: #b70000;
      text-decoration: none; }
  @media screen and (max-width: 715px) {
    #footer .contact > li {
      padding: 0 0 0 5px;
      display: block; }
      #footer .contact > li.first {
        border-left: 2px solid #b70000; } }

.footer-logos {
  min-width: 100px; }

.footer-logo {
  fill: white;
  height: 25px;
  width: 25px; }

.modal-header {
  background: black;
  color: white; }
  .modal-header .close {
    color: white;
    opacity: 0.8; }

.modal-body p {
  margin: 0 30px 30px 30px;
  font-size: 1.2em; }
.modal-body a {
  color: #b70000; }
.modal-body img.center-block {
  margin-bottom: 30px; }

.btn-default {
  background: #b70000;
  color: white; }

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

.accordion-toggle .panel-heading > h4:after {
  font-family: "Glyphicons Halflings";
  content: "";
  float: right; }

.accordion-toggle.collapsed .panel-heading > h4:after {
  content: "";
  float: right; }

.panel-heading, .panel-body {
  padding: 0 15px 0 15px; }
  .panel-heading h4, .panel-body h4 {
    margin: 5px 0; }

/*# sourceMappingURL=style.css.map */
