$red: rgb(183, 0, 0)
$white: white
$black: black
$grey: grey

$mobile-break: 520px
$footer-break: 715px
$award-break-1: 730px
$award-break-2: 570px

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600)

body
    font-family: 'Open Sans', sans-serif

@mixin translate($x, $y)
    -webkit-transform: translate($x, $y)
    -ms-transform: translate($x, $y)
    transform: translate($x, $y)

@mixin flyin($s, $t) 
    animation: flyin $t ease forwards
    opacity: 0
    transform: scale($s)
    filter: blur(4px)
  
@keyframes flyin 
    to  
        filter: blur(0)
        transform: scale(1)
        opacity: 1
        
.absolute-center
    position: absolute
    top: 50%
    left: 50%
    @include translate(-50%,-50%)

.vertical-center
    position: absolute
    top: 50%
    @include translate(0,-50%)

.full-height
    height: 100%
        
a
    color: $black
    &:hover, &:focus, &:active
        color: $red
        text-decoration: none

.red
    color: $red
    
.red-bg
    background: $red
    
.contact  
    padding: 0
    > li
        list-style: none
        display: inline-block
        padding: 0 3px 0 5px
        border-left: 2px solid $red
        @media screen and (max-width: $mobile-break)
            padding: 0 0 0 5px
            display: block
            &.first
                border-left: 2px solid $red
    .first
        border: 0px
    
.feature > div
    position: relative
    padding: 0
    img
        z-index: -1
    h3
        //@extend .absolute-center
        position: absolute
        bottom: 0
        padding: 2px 0 0 25px
        color: white
        width: 100%
        background: rgba(0,0,0,.5)
 
#header
    //position: fixed
    background: $white
    > h1 
        font-weight: 600

.hero
    //margin-top: 169px
    background: url('../img/mode-off.jpg') 50% 50% no-repeat
    background-size: cover
    color: white
    p
        @include flyin(2, 2s)
        padding: 10%
        font-size: 1.5em
        font-weight: 300
        text-align: center
      
.award
    display: table-cell
    vertical-align: middle
    h3 
        font-size: 16px
    @media screen and (max-width: $award-break-2)
        h3 
            font-size: 12px
    hr
        border: 0
        height: 1px
        background: $black
        background-image: linear-gradient(to right, #ccc, #333, #ccc)
    .date
        font-size: 2em
        margin-top: 2px
    .winner
        font-size: 1.5em
        margin-bottom: 10px
    
.award-wrap
    display: table
    margin-bottom: 40px

.laurel
    display: inline
    max-height: 200px
    vertical-align: top
    
blockquote
    display: block
    padding: 40px 20px 15px 70px
    position: relative
  
    /*Font*/
    font-size: 16px
    text-align: justify
  
    /*Borders - (Optional)*/
    border-right: 2px solid $red
    border-left: 0
    &::before
        content: "\201C" // Unicode for Left Double Quote
        font-size: 90px
        font-weight: bold
        color: #999
        position: absolute
        left: 10px
        top: 0

blockquote::after
    content: ""
  
#footer
    background: $black
    min-height: 100px
    position: relative
    color: $white
    font-weight: 300
    a 
        color: $white
        &:hover, &:active
            color: $red
            text-decoration: none
    .contact > li
        @media screen and (max-width: $footer-break)
            padding: 0 0 0 5px
            display: block
            &.first 
                border-left: 2px solid $red
        
.footer-logos
    width: 70px
    
.footer-logo
    fill: $white
    height: 25px
    width: 25px
  
.modal-header
    background: $black
    color: $white
    .close
        color: $white
        opacity: .8

.modal-title
    h4
        font 


.modal-body
    p
        margin: 0 30px 30px 30px
        font-size: 1.2em
    a 
        color: $red
    img.center-block
        margin-bottom: 30px
      
.btn-default
    background: $red
    color: $white
  
    // squares all corners
* 
    -webkit-border-radius: 0 !important
    -moz-border-radius: 0 !important
    border-radius: 0 !important

//.panel-heading
    background: $grey
    color: $white

.accordion-toggle .panel-heading>h4:after 
    // symbol for open panels
    font-family: 'Glyphicons Halflings' 
    content: "\e253"   
    float: right      

.accordion-toggle.collapsed .panel-heading>h4:after 
    // symbol for collapsed panels
    content: "\e252"
    float: right

.panel-heading, .panel-body
    padding: 0 15px 0 15px
    h4
        margin: 5px 0