.pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	white-space: pre;
	background: black;
	color: white;
	padding: 0;
	margin: auto;
	width: 470px;
}

@media screen and (max-width: 480px) {
	.pre {
		width: 240px;
		font-size: .5em;
	}
}

.four-oh-four {
	margin-top: 100px;
	padding: 30px 0;
	background: black;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus,
a:active {
	color: rgb(183, 0, 0);
}
